.mcd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 64px 32px 32px 100px;
}

.mcd__container {
  position: relative;
  padding: 12px 12px 48px 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 0 1 auto;

  background: var(--color-secondary-bg);
  background: linear-gradient(180deg,rgba(14, 32, 12, 0.75) 85%, rgba(0, 0, 0, 0) 100%);
}

.mcd__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.mcd__skipButton {
  all: unset;
  cursor: pointer;
  padding: 2px 12px;
  border: 2px solid var(--color-secondary-text);
  background-color: var(--color-primary-bg);
  color: var(--color-secondary-text);
  font-size: 24px;
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-secondary-bg);
  }
}


.mcd__avatar {
  position: absolute;
  left: -72px;
  top: -36px;
}
