.dwarf__avatar {
  width: 128px;
  height: 256px;
  aspect-ratio: 1/2;
  background-color: var(--color-primary-bg);
  border: 2px solid ver(--color-secondary-text);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
