.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.3);
  z-index: 100;
}

.dialog {
  top: 20%;
  color: var(--color-primary-text);
  background-color: var(--color-secondary-bg);
  border: 3px groove var(--color-secondary-text);
  width: 80%;
}

.dwarf__avatar {
  width: 128px;
  height: 256px;
  aspect-ratio: 1/2;
  background-color: var(--color-primary-bg);
  border: 2px solid ver(--color-secondary-text);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
