.dwarf__avatar {
  display: flex;
  width: 256px;
  height: 200px;
  filter: brightness(0);
  border: 8px solid var(--color-secondary-text);

  img {
    width: 256px;
    object-fit: cover;
    object-position: top;
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
